@import "tailwindcss";

@layer base {
  :root {
    --radius: 0.5rem;
  }

  * {
    font-family: "Tektur", sans-serif !important;
  }
}

/* globals.css veya ilgili stil dosyasına */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
